.group:after {
  content: "";
  display: table;
  clear: both;
}

* {
	box-sizing: border-box;
}

body {
	width: 100%;
	max-width: 1920px;
}

/*---------NAVIGATION-----------*/

header {
	height: 80px;
	line-height: 80px;
	width: 20%;
	margin-left: 80%;
	top: 0;
	left: 0;
	position: absolute;
}

ul {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	width: 100%;
}

ul li {
	padding: 0;
	margin: 0;
	width: 50%;
	float: left;
	text-align: center;
	font-weight: 600;
	text-transform: uppercase;
	color: #eee;
}

/*--------HEADER----------*/

.intro {
	z-index: -1;
	height: auto;
	position: fixed;
	max-width: 100%;
	top: 0;
	left: 0;
}

h1 {
	font-family: 'Pacifico', cursive;
	margin: 0;
	margin-top: -4px;
	padding: 0;
	text-align: center;
	width: 100%;
	font-size: 55px;
	background-color: #fff;
	height: 200px;
	line-height: 200px;
}

.videoCover {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0;
}

/*---------MAIN-----------*/

img {
	max-width: 100%;
	height: auto;
	display: block;
}

section {
	width: 100%;
	background-color: #393e46;
	padding: 0 10%;
}

/*--------FOOTER--------*/

footer {
	height: 75px;
	background-color: #2a363b;
	width: 100%;
	text-align: center;
	line-height: 75px;
	font-weight: 600;
	color: #fff;
}

span {
	color: #ffb183;
}

.pre-footer {
	height: 300px;
	line-height: 300px;
	background-color: #ffc368;
	text-align: center;
	color: #2a363b;
	font-size: 3em;
	font-family: 'Pacifico', cursive;
}

.pre-footer i {
	font-size: 1.15em;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: inherit;
}

@media screen and (max-width: 1250px) {
	section {
		padding: 0;
	}

	h1{
		height: 150px;
		line-height: 150px;
		font-size: 45px;
	}

}

@media screen and (max-width: 1000px){
	h1{
		height: 100px;
		line-height: 100px;
		font-size: 35px;
	}

	.pre-footer{
		height: 200px;
		line-height: 200px;
		font-size: 2em;
	}

	.pre-footer i {
		font-size: 1.15em;
	}
}